
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
@{
    ViewData["Title"] = "Interface";
}
<style>
    .my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
    .button {
  transition-duration: 0.4s;
    }
    .button2 {
  transition-duration: 0.4s;
    }
    .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    }
    .button2:hover {
    background-color: #AF4C4C; /* Green */
    color: white;
    }
</style>
<script>
    function DeleteRule(id) {
        var c = confirm("Are You Sure You Want To Delete This Entry?");
        if (c==true){
            var url ="/Home/DeleteRule/"+id;
            $.get(url);
            
        }
        
    }

  
        
        
</script>


<button class="button" onclick="@("window.location.href='" + @Url.Action("AddRule", "Home") + "'");" style="float:right"> Add Rule</button>
<h4>Manager of User Permissions Rules
</h4>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
    
    
    <table class="table table-bordered table-striped mb-0">
        <tr>
            <th scope="col">Vínculo</th>
            <th scope="col">Unidade Orgânica</th>
            <th scope="col">Classroom Group</th>
            <th scope="col">Profile</th>
            <th scope="col">#</th>
            
        </tr> 
        @foreach (var item in ViewData["MUP-Table"] as List<Tuple<int,string, string, string, string>>)
            {
                <tr>
                    <th>@item.Item5</th>
                    <th>@item.Item4.ToUpper()</th>
                    <th>@item.Item3</th>
                    <th>@item.Item2</th>
                    <th>
                        @using(Html.BeginForm("DeleteRule", "Home", FormMethod.Post)){
                            @Html.Hidden("id", (int) item.Item1)
                            <input class="button2" type="submit" value="Delete" onclick="return confirm('Are you sure You Want To Delete This Rule?')">
                        }</th>
                    
                </tr>
            }
        
        
    </table>
</div>
<hr>
<div class="table-wrapper-scroll-y my-custom-scrollbar" style="width:40%">
    <h4>Profiles</h4>
    <h8>If there Is already A Profile With The Specified Priority, They Will Trade Priorities</h8>
    <table class="table table-bordered table-striped mb-0">
        <tr>
            <th scope="col">Profile</th>
            <th scope="col">Priority</th>
            <th scope="col">Insert New Priority</th>
            
        </tr> 

        @foreach (var item in ViewData["Profiles"] as HashSet<Profile>)
            {
                <tr>
                    <th style="width:40%">@item.name</th>
                    <th style="width:20%">@item.priority</th>
                    <th style="width:40%">
                        @using(Html.BeginForm("ChangePriority", "Home", FormMethod.Post)){
                            @Html.Hidden("id", (int) item.id)
                            @Html.TextBox("priority","",new { style="width:60%", placeholder = "#Priority" })
                            <input class="button" style="float:right" type="submit" value="Save" onclick="return confirm('Are you sure You Wish To Change This Profile\'s Priority?')">
                        }</th>
                    
                </tr>
            }
        
        
        
        
    </table>
</div>

