
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
@{
    ViewData["Title"] = "Interface";
}
<style>
    .my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
    .button {
  transition-duration: 0.4s;
    }
    .button2 {
  transition-duration: 0.4s;
    }
    .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    }
    .button2:hover {
    background-color: #AF4C4C; /* Green */
    color: white;
    }
    
.terminalTab{
  width: 100%;
  background-color: #bbb;
  height: 30px;
  border-radius: 5px 5px 0px 0px;
}

.circleX{
  font-size: 18px;
  font-family: "verdana";
  width: 25px;
  height: 25px;
  background-color: #db4141;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  margin-top: 2px;
  margin-left: 6px;
  display: inline-block;
  cursor: pointer;
}

.letterX{
  display: block;
  padding-top: 3.5px;
}

.terminalName{
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #black;
  position: absolute;
  top: 6px;
}
.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}


</style>
<script>
    function DeleteRule(id) {
        var c = confirm("Are You Sure You Want To Delete This Entry?");
        if (c==true){
            var url ="/Home/DeleteRule/"+id;
            $.get(url);
            
        }
        
    }

  
        
        
</script>


<button class="button" onclick="@("window.location.href='" + @Url.Action("AddRule", "Home") + "'");" style="float:right"> Add Rule</button>
<h4>Manager of User Permissions Rules
</h4>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
        <tr>
            <th scope="col">Vínculo</th>
            <th scope="col">Unidade Orgânica</th>
            <th scope="col">Classroom Group</th>
            <th scope="col">Profile</th>
            <th scope="col">#</th>
            
        </tr> 
        @foreach (var item in ViewData["MUP-Table"] as List<Tuple<int,string, string, string, string>>)
            {
                <tr>
                    <th>@item.Item5</th>
                    <th>@item.Item4.ToUpper()</th>
                    <th>@item.Item3</th>
                    <th>@item.Item2</th>
                    <th>
                        @using(Html.BeginForm("DeleteRule", "Home", FormMethod.Post)){
                            @Html.Hidden("id", (int) item.Item1)
                            <input class="button2" type="submit" value="Delete" onclick="return confirm('Are you sure You Want To Delete This Rule?')">
                        }</th>
                    
                </tr>
            }
        
        
    </table>
</div>
<hr>
<div class="table-wrapper-scroll-y my-custom-scrollbar" style="width:55%; float:right">
    <div class="terminalTab">
        <span class="terminalName">Logs</span>
        <div class="fakeButtons fakeClose"></div>
        <div class="fakeButtons fakeMinimize"></div>
        <div class="fakeButtons fakeZoom"></div>
    </div>
    <table class="table table-bordered table-striped mb-0" style="background-color:#151515" >
        @foreach (var item in ViewData["LOGS"] as List<Log>)
            {
                <tr>
                    <th style="border:none;"> 
                        <a style="color: #9CD9F0; font-size: small;">@item.date</a> 
                        <a style="color: #CDEE69; ">@item.context</a>
                        <a style="font-size: small;  color: lightgrey;border:none;">@item.description</a>
                    </th>
                    
                    
                    
                </tr>
            }
        
        
        
        
    </table>
</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar" style="width:40%">
    <h4>Profiles</h4>
    <h8>If there Is already A Profile With The Specified Priority, They Will Trade Priorities</h8>
    <table class="table table-bordered table-striped mb-0">
        <tr>
            <th scope="col">Profile</th>
            <th scope="col">Priority</th>
            <th scope="col">Insert New Priority</th>
            
        </tr> 

        @foreach (var item in ViewData["Profiles"] as HashSet<Profile>)
            {
                <tr>
                    <th style="width:40%">@item.name</th>
                    <th style="width:20%">@item.priority</th>
                    <th style="width:40%">
                        @using(Html.BeginForm("ChangePriority", "Home", FormMethod.Post)){
                            @Html.Hidden("id", (int) item.id)
                            @Html.TextBox("priority","",new { style="width:60%", placeholder = "#Priority" })
                            <input class="button" style="float:right" type="submit" value="Save" onclick="return confirm('Are you sure You Wish To Change This Profile\'s Priority?')">
                        }</th>
                    
                </tr>
            }
        
        
        
        
    </table>
</div>

